<mat-toolbar>
  <span>Registro</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form" novalidate (ngSubmit)="register()" >
         <mat-form-field class="full-width">
            <mat-label>UserName</mat-label>
            <input  matInput  placeholder="name" name="name"  required [(ngModel)]="user.Username">
         </mat-form-field>
       <mat-form-field class="full-width">
              <mat-label>Nombre</mat-label>
              <input  matInput  placeholder="First name"  name="fname"  required [(ngModel)]="user.Name">
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Surname</mat-label>
              <input  matInput  placeholder="Last Name" name="lname"  required [(ngModel)]="user.Surname">
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input  matInput  placeholder="Address" name="address"  required [(ngModel)]="user.Email">
           </mat-form-field>
           <div id="emailError" *ngIf="emailError" class="alert alert-danger" role="alert">El email no es correcto</div>
           <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input type="password"  matInput  placeholder="Password" name="Password" required [(ngModel)]="user.Password">
           </mat-form-field>
           <div id="passError" *ngIf="passError" class="alert alert-danger" role="alert" [innerHTML]="auxMsj"></div>
           <mat-form-field class="full-width">
            <mat-label>Repeat password</mat-label>
            <input type="password"  matInput  placeholder="Username" name="Username" required [(ngModel)]="Password2">
         </mat-form-field>
          <!-- REGISTER BUTTON -->
         <button mat-raised-button  type="submit" color="primary">REGISTER</button>
    </form>
  <!-- Button trigger modal -->
 
 <!-- Modal -->
 <div class="modal fade" id="RegisterOk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Registro correcto</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         El registro se ha realizado correctamente.<br/>
         pulse continuar para iniciar sesion
       </div>
       <div class="modal-footer">
         <button onclick="window.location.href='/login'" type="button" class="btn btn-primary">continuar</button>
       </div>
     </div>
   </div>
 </div>
  </mat-card-content>
  <mat-card-actions>
   
  </mat-card-actions>
</mat-card>