<mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar>
<mat-card class="my-card">
   <mat-card-content>
      <form class="my-form">
            <div *ngIf="showDiv" class="alert alert-danger" role="alert">El email o contraseña no son incorrectos</div>
         <mat-form-field class="full-width" style="display: flex !important">
            <mat-label>Username</mat-label>
            <input id="loginUsername" [innerHTML]="htmlStr" matInput  [(ngModel)]="user.Username" placeholder="Username" name="username">
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input id="loginPassword" type="password"  matInput  [(ngModel)]="user.Password" placeholder="Password" name="password">
         </mat-form-field>
      </form>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
   </mat-card-actions>
</mat-card>
<div class="modal fade" id="loginOk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">LoginCorrecto</h5>
         <button id="loginButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         Login correcto<br/>
         
       </div>
     </div>
   </div>
 </div>
