<div>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="ID">
          <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.Id}} </mat-cell>
        </ng-container>
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.Name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Surname">
        <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.Surname}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.Email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let user"> 
              <button  mat-button (click)="bikeDetail(user.Id)" *ngIf="userType!=='admin'">Detalle</button>  
              <button class="btn btn-warning " mat-button (click)="editBike(user)" *ngIf="userType=='admin'"><mat-icon>edit</mat-icon></button> 
              &nbsp;
              <button class="btn btn-danger " mat-button (click)="deleteBike(user.Id)" *ngIf="userType=='admin'"><mat-icon>delete</mat-icon></button>  
          </mat-cell>
        </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>