<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title id="nameHeaderDetail">
        {{user == undefined? '' : user.Name + user.Surname}}
      </mat-card-title>
      <button class="btn btn-warning " mat-button (click)="editUser(user)" ><mat-icon>edit</mat-icon></button> 
    </mat-card-header>
    <img mat-card-image src="http://stanford.edu/~mlchu/cgi-bin/cs247/spaatify/website/assets/img/spaatify/week8_testing.jpg" alt="Bike example">
    <mat-card-content>
      <p>
        Id : {{user == undefined ? '' : user.Id}}
        <br/>
        Email : {{user == undefined ? '' :user.Email}}
        <br/>
        Tipo de usuario : {{user == undefined? '' : userType}}
        <br/>
        
      </p>
    </mat-card-content>
  </mat-card>