<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        {{bike == undefined ? '' : bike.Model}}
      </mat-card-title>
      <mat-card-subtitle>
        {{bike == undefined ? 0 : bike.Lat}}, 
        {{bike == undefined ? 0 : bike.Lon}}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://stanford.edu/~mlchu/cgi-bin/cs247/spaatify/website/assets/img/spaatify/week8_testing.jpg" alt="Bike example">
    <mat-card-content>
      <p>
        Esta bicicleta se encuentra con toda la normativa cumplida y todas las revisiones al día.
        <br/>
        Disfrute sin límites!
      </p>
    </mat-card-content>
  </mat-card>